<div class="row">
    <div class="container">
        <table class="table  table-bordered">
            <thead>
              <tr>
                <th scope="col">تاریخ</th>
                <th scope="col">نوع شیفت</th>
                <th scope="col">#</th>
                <th scope="col">نام</th>
                <th scope="col">از ساعت</th>
                <th scope="col">تا ساعت</th>
                <th scope="col">طول شیفت</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td >معمولی</td>
                <td><tr >شیفت اول</tr><tr>شیفت دوم</tr><tr>شیفت سوم</tr></td>
                <td><tr>سارا</tr><tr>زهرا</tr><tr>مهشید</tr></td>
                <td><tr>8</tr><tr>10</tr><tr>16</tr></td>
                <td><tr>16</tr><tr>18</tr><tr>24</tr></td>
                <td><tr>8</tr><tr>8</tr><tr>8</tr></td>
              </tr>
              <tr>
                <th>2</th>
                <td >معمولی</td>
                <td><tr >شیفت اول</tr><tr>شیفت دوم</tr><tr>شیفت سوم</tr></td>
                <td><tr>سارا</tr><tr>زهرا</tr><tr>مهشید</tr></td>
                <td><tr>8</tr><tr>10</tr><tr>16</tr></td>
                <td><tr>16</tr><tr>18</tr><tr>24</tr></td>
                <td><tr>8</tr><tr>8</tr><tr>8</tr></td>
              </tr>
              <tr>
                <th>3</th>
                <td >معمولی</td>
                <td><tr >شیفت اول</tr><tr>شیفت دوم</tr><tr>شیفت سوم</tr></td>
                <td><tr>سارا</tr><tr>زهرا</tr><tr>مهشید</tr></td>
                <td><tr>8</tr><tr>10</tr><tr>16</tr></td>
                <td><tr>16</tr><tr>18</tr><tr>24</tr></td>
                <td><tr>8</tr><tr>8</tr><tr>8</tr></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>